extends ../layout
block content

    h1 Author: #{author.name}
    #bookList
        h2 Author Cds:
        for cd in authorCds 
            p  
                a(href="../cd/" + cd.id)  #{cd.title }
    h2 Author Genres: 
    for genre in authorGenre
        p
            a(href="../genre/"+genre.id) #{genre.name} 
    

    form(action='delete' method='post')
        input(type="text" value=author.id class="hidden" name="autorId")
        input(type='submit' value='Delete Author')
    