extends ../layout
block content
    form(action='create' method='post')
        label(for='genreName') Enter name: 
        input(id='genreName' type='text' name='genreName' placeholder='Enter the Genre Name')
        input(type='submit' value='OK')
