extends ../layout
block content

    form(action='create' method='post' enctype="multipart/form-data")
        label(for='genreName') Enter name: 
        input(id='genreName' type='text' name='genreName' placeholder='Enter the Genre Name')
        input(type="file" name="genreImage")
        input(type='submit' value='OK')

        if errors
            for error in errors 
                p=error.msg
