extends ../layout
block content

    form(action='/' method='post')
        label(for='') Enter name: 
        input(id='' type='text' name='' placeholder='')
        label(for='') Enter name: 
        input(id='' type='text' name='' placeholder='')
        label(for='') Enter name: 
        input(id='' type='text' name='' placeholder='')
        input(type='submit' value='OK')
